/* Styles used for loopback explorer customizations */

html {
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin:0;
  background: #fafafa;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
