/* Styles used for loopback explorer customizations */
.accessTokenDisplay {
  color: white;
  margin-right: 10px;
}
.accessTokenDisplay.set {
  border-bottom: 1px dotted #333; position: relative; cursor: pointer;
}
.accessTokenDisplay.set:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  white-space: nowrap;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  padding: 3px 7px;
  color: #FFF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  right: 0;
  bottom: -30px;
}

/* JSON syntax highlighting */
.json, .json .attribute {
  color: black;
}

.json .value .string {
  color: #800;
}

.json .value .number, .json .value .literal {
  color: #080;
}

/* Improve spacing when the browser window is small */
#message-bar, #swagger-ui-container {
  padding-left: 30px;
  padding-right: 30px;
}

#api_selector {
  padding: 0px 20px;
}
